
table {
  border-collapse: collapse;
}

table, tr, td {
  border: 1px solid black;
}

body {
  font-family: sans-serif;
}

.search-input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 250px;
  font-size: 16px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}


@media (min-width: 600px) {
  .search-input {
    width: 275px;
  }
}

@media (min-width: 1200px) {
  .search-input {
    width: 300px;
  }
}
